// Place all the styles related to the tipp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
        font-family: "QuickDash";
        src: url("Quicksand_Dash.otf") format('otf');
        
        font-family: "texgyros";
        src: url("texgyreheroscn-regular.otf") format('opentype');
    };

body {  background-image: url("background.jpeg");
        background-repeat: repeat; }
body, html { font-family: "texgyros"; height: 100%;}

.container-fluid { height: 100%}

main{ text-align: center;
      h1{ font-size: 5em };
      h2{ font-size: 4em } };

/* ONLY NAVS */

nav { border: 1px dotted grey;
      color: black;
  ul {  padding:0;
    li {  text-align: center;
          list-style-type:none;
          text-decoration: none;
    }}}

/* FORMS ONLY */

.links a{color:white;
        text-decoration: none
}

.form { margin-top: 5%;
        // display: inline-block;
        padding: 0;
        text-align: center;
        color:white;}

.formBody { padding: 12px;
            color:white;
            background-color: #628e9d;
            margin-top: 0 }

.formBody .feedbackTipp { font-family: "texgyros";
              font-size: 2em;
              margin-top: 50px;
              border-top: 1px dotted white;
              border-bottom: 1px dotted white }
.formImage {margin-top: 30px;
            border: 1px dotted white}
.votes a{ font-size: 3em;
          text-decoration: none;
          color: white;
           }
.votes { margin-bottom: 30px }

.input{color:black; margin-bottom: 10px;}

header{ font-size: 2em;
        font-family: "texgyros";
        background-color: #c3d29f;
        width:100%;
        padding:20px;
        margin: 0}


.button { border: 1px dotted white}   

  .feedback{ background-color: #628e9d;
        padding-top:10px;
        font-size: 1em;
        color: black}

        p { color: white;
            }

           
#taken {  display: none; color: white}
#taken h2 { color: white; border:0}
#taken a, .alert a{ color: white;
           border: 0; 
           font-weight: bold;
            font-size: 1.20em}



/* MAIN PAGE ONLY  */

main {  position:relative;
        height:100%;
        border: 4px dotted white;}

article { position: relative;
          border: 1px dotted grey;
          min-height: 100%;
          background-size: cover;
          height: 100%;
          font-size: 1.5em;}
.textbox { 
            background-color: black;
            display: inline-block;
            color: white;}

.tippName{ font-size: 1.5em;}

  
.bottom { font-family: "texgyros"; 
          color:red;
          font-size: 1em; 
          border: 1px solid white;
          position: absolute;
          bottom: 10px; 
          background: black}
.bottom a { font-family: "texgyros";
            font-size: 2em;
            color:white;
            text-decoration :none;}
